<a href="https://colab.research.google.com/github/kummaripranavi/gitam-221810309034/blob/master/DAY_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###DAY OBJECTIVES


*   PYTHON DATA SYSTEM
*   LiST
*TUPLES
*DICTIONARIES
*BASISCS  PROGRAM SETS ON DAAT STRUCTURE
*ADVANCED PROBLEM SET
*CONTACT
*APPLICATION(DICTIONARY OBEJECT)

In [0]:
lst=[1,8,16,9,2]#creating the list obejective in python
print(lst)#access the entire list
print(lst[0])#access the first item list
print(lst[1])#access the second itemlist
print(lst[-1])#access the last item list
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 16, 9, 2]
1
8
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [0]:
li=["Gitam","Python",1989,2002]
print(li)
li[2]=2019
print(li)

['Gitam', 'Python', 1989, 2002]
['Gitam', 'Python', 2019, 2002]

In [0]:
#delet the specific item in list
print(li)
del li[2]
print(li)

['Gitam', 'Python', 2019, 2002]
['Gitam', 'Python', 2002]

In [0]:
#basic list operation
lst1=[1,9,6,18,2]
print(len(lst1))#len of the list
print(lst1*2)#repetion
print(len(lst1))
print(9 in lst1)
print(15 in lst1)
for x in range(len(lst1)):
  print(lst[x],end="")

5
[1, 9, 6, 18, 2, 1, 9, 6, 18, 2]
5
True
False
196182

In [0]:
#functions of list 
lst1
print(min(lst1))#min  item of thr list
print(max(lst))#max elements of the list
print(sum(lst))#sum of teh all elemeents of list
print(sum(lst)//len(lst))#avarage
print(sum(lst1[1::2])/len(lst1[1:2]))#averge of all

1
18
36
7
201.0

In [0]:
lst1 
lst1.append(24)#add new element
lst1
lst1.insert(2,56)#add element
lst1
lst1.count(18)#return va;ue many times 
lst1.index(56)
lst1.sort
lst1
lst1.pop
lst1
lst1.pop(1)
lst2=[123,23,45]
lst1.extend(lst2)#merge
lst1

[1, 56, 56, 56, 6, 18, 2, 24, 24, 24, 123, 23, 45]

In [0]:
li=[1,9,8,2,6,3]
print(li[-1:2:-2])

[3, 2]

In [0]:
li=[1,9,8,2,6,3]
print(li[-2:2:-2])

[6]

In [0]:
 #function to find 2nd large item 
  #input:[1,19,6,2,8,18,3]
  #output:18
def secondlarge(li):
    li.sort
    return li[-2]
li=[1,19,6,2,8,18,3]
secondlarge(li)

18

In [0]:
#function to find 2nd large item 
  #input:[1,19,6,2,8,18,3]
  #output:18
def secondlarge(li):
    li.sort()
    return li[-2]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1,19,6,2,8,18,3]
genericlarge(li,4)

6

In [0]:
#function to find the least item
#IP:[1,19,,6,2,8,18,3]
#OP:2
def secondleast(li):
  li.sort()
  return li[1]
def genericlarge(li,n):
    li.sort()
    return li[n-1]
li=[1,19,6,2,8,18,3]
genericlarge(li,4)

6

In [1]:
# linear fibanacci

def linearsearch5(lst):
    for x in range(len(lst)):
        if x  == 0 or x == len(lst) - 1:
            print(lst[x],end="  ")
        else:
             print(lst[x-1]*lst[x+1],end="  ")
    return
lst = [1,2,3,4,5]
linearsearch5(lst)

1  3  8  15  5

In [2]:
# sum of numbers multiple by 3 and 5

def linearsearch(lst):
    sum = 0
    for x in range(len(lst)):
        if lst[x] % 3 == 0 and lst[x] % 5 == 0:
            sum += lst[x]
    return sum
lst = [12,2,45,9,18,15,36]
linearsearch(lst)

60

In [3]:
# function to print ! symbol insted of numbers

def linearsearch3(lst,targetitem):
    for x in range(len(lst)):
        if lst[x] == targetitem:
            j = 0
            while j != x+1:
                print("!",end="  ")
                j= j+1
            print(end="  ")
    return
lst = [1,5,9,6,5,15,1,2,5]
linearsearch3(lst,5)

!  !    !  !  !  !  !    !  !  !  !  !  !  !  !  !

In [4]:
# function to remove duplicate numbers

def linearsearch(lst,targetitem):
    for x in range(len(lst)):
        if lst[x] == targetitem:
            print(x,end="  ")
    return
lst = [1,5,9,6,5,15,1,2,5]
linearsearch(lst,5)

1  4  8

In [5]:
# finding the second largest number

def secondlarge(lst):
    lst.sort()
    return lst[1]
def genericleast(lst,n):
    lst.sort()
    return lst[n-1]
lst=[1,19,6,2,8,18,3]
genericleast(lst,4)

6

In [6]:
# function to search data in a list using linear search
# if not found return -1

def linearsearch(lst,targetitem):
    for x in range(len(lst)):
        if lst[x] == targetitem:
            return x
    return -1
lst = [1,19,6,2,8,18,3]
linearsearch(lst,8)

4

In [7]:
# different operations

lst1 = [1,6,2,9,18,3,24]
lst1
lst1.append(24)
lst1
lst1.insert(2,56)
lst1
lst1.count(18)
lst1
lst1.index(56)
lst1
lst1.sort()
lst1
lst1.pop()
lst1
lst1.pop(1)
lst2 = [123,23,45]
lst1.extend(lst2)
lst1
lst1.reverse()
lst1
lst1.remove(123)
lst1

[45, 23, 24, 24, 18, 9, 6, 3, 1]

In [11]:
#FUNCTION
#IP:LIST
#OP:FORMATERD OP
#TEST CASES:
#[1,6,9,,4,16,19,22]---1 9 19 22
def linearsearch(li):
  #implement the logic
  for x in range(len(li)):
    if x==0 or x==len(li)-1:
      print(li[x],end=" ")
    elif li[x-1]%2==0and li[x+1]%2==0:
      print(li[x],end=" ")
  return
li=[1,6,9,16,19,22]
linearsearch(li)#1 9 19 22

1 9 19 22

###number to list


*   IP as number
*   expexted op will be list

In [14]:
#function for converstion -number to list
#ip-number
#op-list
#test cases-
14569-1,4,5,6,9
1991-1,9,9,0
def numberlistconversion(n):
  li=[]
  while n!=0:
    r=n%10
    li.append(r)
    n=n//10
  li.reverse()
  return li
numberlistconversion(14569)#[1,4,5,6,9]

[1, 4, 5, 6, 9]

In [16]:
#function to count the occurance of a chararcter in astring
#"python programming",p->2
#          ""        ,m->2
def countcharoccurances(s,c):
    cnt=0
    for ch in s:
      if ch == c:
        cnt+=1
    return cnt
countcharoccurances("python programming",'p')

2

###string to list conversion


1.   ip will be string
2.   expected op will be list

In [21]:
#function to convert the string to list
#test case
#"1 2 3 4 5 6"--[1,2,3,4,5,6]
def stringtolistconversion(s):
  li =s.split()
  numberlist=[]
  for i in li:
    numberlist.append(int(i))
  return numberlist
s="1 2 3 4 5 6"
stringtolistconversion(s)#[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

###sorting algorithms:

1.   bubble sort
2.   selection sort

1.   insertion sort
2.   all thes sorting algorithms makes the list into ascemding order

bubble sort
1.   this algorithm compare the adj elements,if the first element 
2.