<a href="https://colab.research.google.com/github/kummaripranavi/gitam-221810309034/blob/master/day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#check if leap year or not
year=int(input("enter"))
if year%400==0 or (year%100!=0 and year%4==0):
  print("leap year")
else:
  print("not a leap year")

enter2015
not a leap year

##iteration statements
-while
-for
syntax
            while boolean condition:
            statements
            increment /decrement

In [0]:
#need to print gitam for 5 times
print("gitam")
print("gitam")
print("gitam")
print("gitam")
print("gitam")

gitam
gitam
gitam
gitam
gitam

In [0]:
# need to print gitam
x=0
while x<5:
  print("gitam")
  x=x+1

gitam
gitam
gitam
gitam
gitam

In [0]:
#print N natural numbers using while loop
x=int(input("enter number"))
i=1
while i<=x:
 print(i)
 i=i+1

enter number15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [0]:
#read a number --n
#add only even 1to n
#input --10
#output--30(2+4+6+8+10)
x=int(input("enter value"))
sum=0
a=1
while a<=x:
  if a%2==0: 
    sum=sum+a
  a=a+1
  
print(sum)

enter value10

TypeError: ignored

In [0]:
#number as a IP-123
#print the digit of given number 3 2 1
x=int(input("enter value"))
rev=0
while x!=0:
  rev=x%10
 
  x=x//10
print(rev)

SyntaxError: ignored

In [0]:
name=int(input("N:"))
while name>0:
  ab=name%10
  print(ab)
  name=name//10

In [0]:
n=int(input("enter a value"))
sum=0
while n!=0:
    r=n%10
    n=n//10
    sum=sum+r
print(sum)

enter a value45
9

In [0]:
a=10
print (a)

TypeError: ignored

In [0]:
#read a number
OP 6(2+4)
#DEF ADD EVEN DIGITS(N):
#

In [0]:
#read a number 19528
#print the large digit print number
def printlarge(n):
    large=0
    while n!=0:
      r=n%10
      if large<r:
        large=r
      n=n//10
    return large
printlarge(19528)

9

In [0]:
#read a number as input
#OP reverse of given number
#123--321
def reversenumber(n):
    rev=0
    while n!=0:
      r=n%10
      rev=rev*10+r
      n=n//10
    return rev
reversenumber(123)

321

In [0]:
#number as a IP-123
#print the digit of given number 3 2 1
n=int(input("enter value"))
rev=0
while n>0:
    x=n%10
    print(x)
    #rev=rev*10+x
    n=n//10
#print(x,end=" ")

enter value123
3
2
1

In [0]:
#given number 
#input
#123  321  no
#121  121  yes
def ispalindrome():
  rev=0
  buffer=n
  while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if buffer ==rev:
    return "yes"
  else:
    return "no"
print(ispalindrome(123))
print(ispalindrome(121))

TypeError: ignored

In [0]:
# palindrome 

def palindrome(n):
   r = 0
   buffer = n
   rem =0 
   while n != 0:    
       rem = n %10    
       r = (r *10) + rem
       n = n //10  
   if buffer == r:
       return "yes"
   else:
       return "no"
print( palindrome(123) )
print( palindrome(121) )

no
yes

In [0]:
n=int(input("enter a value"))
sum=0
while n!=0:
    r=n%10
    n=n//10
    sum=sum+r
print(sum)

enter a value45
9

In [0]:
#function to print n natural number with for loop
def printnnaturalnumber(n):
  for x in range(1,n+1):
    print(x,end=" ")  
  return
printnnaturalnumber(10)

1 2 3 4 5 6 7 8 9 10

In [0]:
#function tpprint the numbers between two limits
#IP 11,25
#OP 11,12,13,,,,,25
def printseries(ib,ub):
  for x in range(ib,ub+1):
    print(x,end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
#function to print alternate number
#500,520
#100,150
def alternativenumber(ib,ub):
  for x in range(ib,ub+1,5):
    print(x,end=" ")
  return 
alternativenumber(100,150)

100 105 110 115 120 125 130 135 140 145 150

In [0]:
#function to print the series in reverse
#IP 1,10
#OP 10,9,8,7,6,,,
def reverserangenumber(start,end):
    for x in range(end,start-1,-1):
      print(x,end=" ")
    return
reverserangenumber(1,10)

10 9 8 7 6 5 4 3 2 1